.genres {
  padding: 0 8%;
  margin-bottom: 40px;

  &__title{
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    &-btn{
      font-size: 25px;
      margin-left: auto;
    }
    .show{
      transition: 0.6s;
      transform: rotate(-45deg);
    }
    .close{
      transition: 0.6s;

    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &-btn {
      font-size: 20px;
      margin: auto;
      color: #FDC62E;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    &-reset{
      width: 100%;
      display: flex;
      justify-content: center;
      button{
        width: 25%;
        font-size: 30px;
      }
    }
  }
}