.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 8%;
  gap: 19px;
  &__reset{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button{
      width: 180px;
      height: 40px;
      border: none;
      background: #800;
      color: white;
      font-weight: 600;
      font-size: 20px;
      border-radius: 5px;
    }
  }
}